<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/index.css" charset="utf-8"> -->
    <title>Todd Smells!</title>
</head>
<body>
    <% for (i=0; i<gifs.length; i++) { %>
        &#123;<br />
            <% if (gifs[i].gif_date) { %>
                &quot;gif_date&quot;&#58; `<%= gifs[i].gif_date.getFullYear() %>-<%= (gifs[i].gif_date.getMonth()+1) %>-<%= gifs[i].gif_date.getDate() %>`&#44;<br />
            <% } else { %>
                &quot;gif_date&quot;&#58; null&#44;<br />
            <% } %>
            &quot;gif_name&quot;&#58; `<%= gifs[i].gif_name %>`&#44;<br />
            &quot;gif_path&quot;&#58; `<%= gifs[i].gif_path %>`&#44;<br />
            &quot;gif_quote&quot;&#58; `<%= gifs[i].gif_quote %>`&#44;<br />
            &quot;gif_desc&quot;&#58; `<%= gifs[i].gif_desc %>`<br />
        &#125;&#44;<br />
    <% } %>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <% for (i=0; i<tags.length; i++) { %>
        &#123;<br />
            &quot;tag_name&quot;&#58; `<%= tags[i].tag_name %>`&#44;<br />
        &#125;&#44;<br />
    <% } %>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <% for (i=0; i<sign_up.length; i++) { %>
        &#123;<br />
            <% if (sign_up[i].sign_up_date) { %>
                &quot;sign_up_date&quot;&#58; `<%= sign_up[i].sign_up_date.getFullYear() %>-<%= (sign_up[i].sign_up_date.getMonth()+1) %>-<%= sign_up[i].sign_up_date.getDate() %>`&#44;<br />
            <% } else { %>
                &quot;sign_up_date&quot;&#58; null&#44;<br />
            <% } %>
            &quot;sign_up_id&quot;&#58; `<%= sign_up[i].sign_up_id %>`&#44;<br />
            &quot;sign_up_fname&quot;&#58; `<%= sign_up[i].sign_up_fname %>`&#44;<br />
            &quot;sign_up_lname&quot;&#58; `<%= sign_up[i].sign_up_lname %>`&#44;<br />
            &quot;sign_up_username&quot;&#58; `<%= sign_up[i].sign_up_username %>`&#44;<br />
            &quot;sign_up_password&quot;&#58; `<%= sign_up[i].sign_up_password %>`&#44;<br />
            &quot;sign_up_preference&quot;&#58; <%= sign_up[i].sign_up_preference %>&#44;<br />
            &quot;sign_up_hour&quot;&#58; <%= sign_up[i].sign_up_hour %>&#44;<br />
            &quot;sign_up_phone&quot;&#58; `<%= sign_up[i].sign_up_phone %>`&#44;<br />
            &quot;sign_up_email&quot;&#58; `<%= sign_up[i].sign_up_email %>`&#44;<br />
            &quot;sign_up_bday&quot;&#58; `<%= sign_up[i].sign_up_bday %>`<br />
        &#125;&#44;<br />
    <% } %>
</body>
</html>