<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/index.css" charset="utf-8">
    <title>Todd Smells!</title>
</head>
<body>
    <div class="div_main_container">
        <% for (i=0; i<gifs.length; i++) { %>
            <% if (!gifs[i].gif_date) { %>
            <a href="tag_admin/<%= gifs[i].gif_id %>"><img width="60" height="40" src="/gifs/<%= gifs[i].gif_path %>" /></a>
            <% } else { %>
            <a href="tag_admin/<%= gifs[i].gif_id %>"><img width="60" height="40" style="filter: grayscale(100%);" src="/gifs/<%= gifs[i].gif_path %>" /></a>
            <% } %>
        <!-- <br /><%= gifs[i].gif_name %> -->
        <!-- <br /><%= gifs[i].gif_quote %> -->
        <!-- <br /><%= gifs[i].gif_desc %> -->
        <% } %>
        <!-- <div class="div_gif_banner">
            <img class="img_gif_banner" src="/small_gifs/apu_rhyme_with_me.gif" />
            <img class="img_gif_banner" src="/small_gifs/bart_dr_butts.gif" />
            <img class="img_gif_banner" src="/small_gifs/bart_jessica_loiter.gif" />
            <img class="img_gif_banner" src="/small_gifs/its_for_you.gif" />
            <img class="img_gif_banner" src="/small_gifs/bart_ultimate_belt_run.gif" />
            <img class="img_gif_banner" src="/small_gifs/burns_excellent_film.gif" />
            <img class="img_gif_banner" src="/small_gifs/bongo_head.gif" />
            <img class="img_gif_banner" src="/small_gifs/bullies_oh_no.gif" />
            <img class="img_gif_banner" src="/small_gifs/captain_iced_tea.gif" />
            <img class="img_gif_banner" src="/small_gifs/grandpa_waterskis.gif" />
            <img class="img_gif_banner" src="/small_gifs/homer_buttons.gif" />
            <img class="img_gif_banner" src="/small_gifs/homer_risky_biz.gif" />
        </div> -->
        <!-- <div class="div_red_banner">TODDSMELLS.com</div> -->
        <div class="div_upload_container">
            <form action="/gif_admin/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="gifUpload" name="gifUpload" required />
                <br />Gif Name&nbsp;<input size="80" type="text" id="gif_name" name="gif_name" />
                <br />Gif Quote&nbsp;<input size="80" type="text" id="gif_quote" name="gif_quote" />
                <br />Gif Description&nbsp;<input size="80" type="text" id="gif_desc" name="gif_desc" />
                <br /><button type="submit">Upload</button>
            </form>
        </div>
    </div>
</body>
</html>